<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleIdentifier</key>
	<string>net.namedfork.filesystem.mfs</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>fusefs_mfs</string>
	<key>CFBundlePackageType</key>
	<string>fs  </string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>fMFS</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>FSMediaTypes</key>
	<dict>
		<key>Apple_MFS</key>
		<dict>
			<key>FSMediaProperties</key>
			<dict>
				<key>Content Hint</key>
				<string>Apple_MFS</string>
				<key>Leaf</key>
				<true/>
			</dict>
			<key>FSProbeArguments</key>
			<string>-p</string>
			<key>FSProbeExecutable</key>
			<string>../../fusemfs.util</string>
			<key>FSProbeOrder</key>
			<integer>315</integer>
		</dict>
		<key>Whole</key>
		<dict>
			<key>FSMediaProperties</key>
			<dict>
				<key>Leaf</key>
				<true/>
				<key>Whole</key>
				<true/>
			</dict>
			<key>FSProbeArguments</key>
			<string>-p</string>
			<key>FSProbeExecutable</key>
			<string>../../fusemfs.util</string>
			<key>FSProbeOrder</key>
			<integer>240</integer>
		</dict>
	</dict>
	<key>FSPersonalities</key>
	<dict>
		<key>MFS</key>
		<dict>
			<key>FSMountArguments</key>
			<string>-m</string>
			<key>FSMountExecutable</key>
			<string>../../fusemfs.util</string>
			<key>FSName</key>
			<string>MFS</string>
		</dict>
	</dict>
</dict>
</plist>
